{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_metaskills/form

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<div class="row mt-2">
    <div class="col-12 mb-12 col-md-6">
        <select class="form-select custom-select" id="filterByCourse" value="" {{#referrer}}disabled{{/referrer}}>
                <option value="" {{^referrer}}selected="selected"{{/referrer}}>All Courses...</option>
            {{#courses}}
                {{#.}}
                    <option value="cid-{{id}}">{{fullname}}</option>
                {{/.}}
            {{/courses}}
        </select>
    </div>
    <div class="col-12 col-md-6 mb-12">
        {{#level}}
            <div class="alert level-{{.}} level level-select l-{{.}}" value="{{.}}" style="float:right;">Level {{.}}</div>
        {{/level}}
        {{^level}}
            <div class="btn-group level-options" style="float:right;">
                <button class="alert alert-primary level-select l-4">Level 4</button>
                <button class="alert alert-warning level-select l-5">Level 5</button>
                <button class="alert alert-dark level-select l-6">Level 6</button>
                <button class="alert alert-danger level-select l-7">Level 7</button>
                <button class="alert alert-success level-select l-8">Level 8</button>
            </div>
        {{/level}}
    </div>
    <!--<div class="col-12 col-md-6 mb-3">
        <input type="text" class="form-control" id="user_filter" placeholder="Search student or course..."/>
    </div>
    -->
</div>

<div class="">
    <table class="userlist table" id="user_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Actions</th>
              </tr>
          </thead>
          <tbody>
    {{#students}}
        {{#.}}
            <tr title="{{firstname}} {{lastname}} ({{username}})" class="user {{#course}}cid-{{id}}{{/course}}" id="uid-{{id}}">
                <td>
                    <span class="username">
                        {{firstname}} {{lastname}}
                    </span>
                    </br>
                    <em>{{email}}</em>
                </td>
                <td>
                    <em class="coursename">
                        {{#course}}
                            <span class="course">
                                {{fullname}}
                            </span>
                        {{/course}}
                    </em>
                </td>
                <td class="user_controls">
                    <button id="view-{{id}}" class="view_user btn btn-secondary" title="View {{firstname}} {{lastname}}"><i class="fa fa-search"></i></button>
                    <button id="uid-{{id}}" class="rate_user btn btn-secondary" title="Rate {{firstname}} {{lastname}}" {{^level}}disabled{{/level}}><i class="fa fa-edit"></i></button>
                </td>
                    
                </td>
            </tr>
            
        {{/.}}
    {{/students}}
        </tbody>
    </table>
</div>

{{#js}}

// Text box search filter
//    window.addEventListener("load", () => {
//      var filter = document.getElementById("user_filter"), 
//          list = document.querySelectorAll("#user_list tr");
//     
//      filter.onkeyup = () => {
//        let search = filter.value.toLowerCase();
//     
//        for (let i of list) {
//          let item = i.innerHTML.toLowerCase();
//          if (item.indexOf(search) == -1) { i.classList.add("hide"); }
//          else { i.classList.remove("hide"); }
//        }
//      };
//    });

    

    require(['jquery', 'core/templates', 'core/modal_factory', 'core/modal_events', 'core/ajax', 'core/config', 'https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js'],function($, templates, ModalFactory, ModalEvents, ajax, mdlconfig, DataTable) {

        //Use Datatables library on table
        $('table').DataTable();

        $('.level-options .level-select').click(function() {
            var elem = $(this).clone();
            $('.level-options .level-select').remove();
            $('.level-options').append(elem);
            $('.rate_user').removeAttr('disabled');
        });

        {{#referrer}}
            $('#filterByCourse option[value="cid-{{id}}"]').attr('selected','selected');
            const referredCourse = 'cid-{{id}}';
            const cards = document.getElementsByClassName("user");
            for (let i = 0; i < cards.length; i++) {
                let title = cards[i].querySelector(".coursename");
                if (cards[i].classList.contains(referredCourse) || referredCourse=="") {
                    cards[i].classList.remove("d-none");
                } else {
                    cards[i].classList.add("d-none");
                }
            }
        {{/referrer}}

        // Dropdown filter & search
        const courseDropDown = document.getElementById('filterByCourse');
        courseDropDown.addEventListener('change', () => { 
            let selectedCourse = document.getElementById("filterByCourse").value;
            const rows = document.getElementsByClassName("user");
            for (let i = 0; i < rows.length; i++) {
                let title = rows[i].querySelector(".coursename");
                if (rows[i].classList.contains(selectedCourse) || selectedCourse=="") {
                    rows[i].classList.remove("d-none");
                } else {
                    rows[i].classList.add("d-none");
                }
            }
        });

        // Rate user
        var trigger = $('.rate_user');
        ModalFactory.create({
                title: '<i class="fa fa-refresh fa-spin fa-2x fa-fw text-success"></i>',
                body: '<h1 style="text-align:center;">Loading Scores</h1><p style="text-align:center;"><em>Scores will appear once loaded</em><p style="text-align:center;"><span class="fa-stack fa-lg" style="margin-top:20px;"><i class="fa fa-server fa-stack-1x"></i><i class="fa fa-refresh fa-spin fa-5x fa-fw text-success" style="position: absolute;left: -42px;top: -30px;"></i></i></span><br/><span class="sr-only">Loading...</span></p>',
                footer: '',
              }, trigger).then(function(modal) {
                    modal.getRoot().on(ModalEvents.hidden, function(){
                     $(".modal-title").html('<i class="fa fa-refresh fa-spin fa-2x fa-fw text-success"></i>');
                     $('.modal-body').html('<h1 style="text-align:center;">Loading Scores</h1><p style="text-align:center;"><em>Scores will appear once loaded</em><p style="text-align:center;"><span class="fa-stack fa-lg" style="margin-top:20px;"><i class="fa fa-server fa-stack-1x"></i><i class="fa fa-refresh fa-spin fa-5x fa-fw text-success" style="position: absolute;left: -42px;top: -30px;"></i></i></span><br/><span class="sr-only">Loading...</span></p>');
                    });
                });


        //Load user data
        $('.rate_user').click(function() {
            let userid = $(this).attr('id').slice(4);
            let username = $(this).closest('tr').attr('title');

            $.ajax({
                url: mdlconfig.wwwroot + "/local/metaskills/scoring.php",
                method: "POST",
                type: "JSON",
                data: { userid: userid }
            }).done(function(data) {

                $('.modal').addClass('scoringModal');
                templates.render('local_metaskills/skills', {
                    data:data}).done(function(html, js) { 
                        setTimeout(
                          function() {
                            $(".modal").attr('userid',userid);
                            $(".modal-body").html(html);
                            $(".modal-title").html('<h4>'+username+'</h4>')
                          }, 1000); //end fake load
                        templates.runTemplateJS(js);
                });   
            });

        });


        // View user
        var trigger = $('.view_user');
        ModalFactory.create({
                title: '<i class="fa fa-refresh fa-spin fa-2x fa-fw text-success"></i>',
                body: '<h1 style="text-align:center;">Loading Scores</h1><p style="text-align:center;"><em>Scores will appear once loaded</em><p style="text-align:center;"><span class="fa-stack fa-lg" style="margin-top:20px;"><i class="fa fa-server fa-stack-1x"></i><i class="fa fa-refresh fa-spin fa-5x fa-fw text-success" style="position: absolute;left: -42px;top: -30px;"></i></i></span><br/><span class="sr-only">Loading...</span></p>',
                footer: '',
                large: true
              }, trigger)
              .then(function(modal) {
                    modal.getRoot().on(ModalEvents.hidden, function(){
                     $(".modal-title").html('<i class="fa fa-refresh fa-spin fa-2x fa-fw text-success"></i>');
                     $('.modal-body').html('<h1 style="text-align:center;">Loading Scores</h1><p style="text-align:center;"><em>Scores will appear once loaded</em><p style="text-align:center;"><span class="fa-stack fa-lg" style="margin-top:20px;"><i class="fa fa-server fa-stack-1x"></i><i class="fa fa-refresh fa-spin fa-5x fa-fw text-success" style="position: absolute;left: -42px;top: -30px;"></i></i></span><br/><span class="sr-only">Loading...</span></p>');
                });
            });


        //Load user data
        $('.view_user').click(function() {
            let userid = $(this).attr('id').slice(5);
            let username = $(this).closest('tr').attr('title');

            $.ajax({
                url: mdlconfig.wwwroot + "/local/metaskills/view.php",
                method: "POST",
                type: "JSON",
                data: { userid: userid }
            }).done(function(data) {

                templates.render('local_metaskills/view', {
                    data:data}).done(function(html, js) { 
                    setTimeout(
                      function() {
                        $(".modal-body").html(html);
                        $(".modal-title").html('<h4>'+username+'</h4>')
                      }, 1000); //end fake load
                    templates.runTemplateJS(js);
                });   
            });

        });


    });


    
{{/js}}